// 透明背景图片
$bg-img: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);

// 外壳
.zc-cp {
    display: inline-block;
    font-size: 10px;
    padding: 10px;
    // background-color: #f2f2f2;
    background-color: #fff;
    box-shadow: 0 5px 15px 5px #999999;
    * {
        margin: 0;
        padding: 0;
        font-style: normal;
    }
    .pointer {
        cursor: pointer;
    }
    .zc-cp_lh-10 {
        display: block;
        width: 100%;
        height: 10px;
    }
    // .zc-cp_hr {
    //     margin: 5px 0 0 0;
    //     padding: 0 0 5px 0;
    //     border-top: 1px solid #e5e5e5;
    // }
}

// ------------------------------------------- 卡片 -------------------------------------------

.zc-cp_card {
    margin: 0 5px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    // background-color: #ffffff;
    background-color: #f2f2f2;
}

.zc-cp_card-head {
    font-size: 16px;
    color: #999;
    margin-left: 20px;
    padding: 0 10px;
    letter-spacing: 2px;
}

.zc-cp_card-body {
    padding: 10px;
}

// ------------------------------------------- 主体 -------------------------------------------
.zc-cp_main {
    display: flex;
}

.zc-cp_color-panel {
    width: 272px;
    // height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// ------------------------------------------- 颜色列表 -------------------------------------------
.zc-cp_color-list-container {
    width: 240px;
    height: 210px;
    overflow: hidden;
}

.zc-cp_color-list {
    width: 257px;
    height: 100%;
    padding-right: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

// 颜色组
.zc-cp_color-group {
    .color-item {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 2px;
        border-radius: 2px;
        cursor: pointer;
        box-sizing: border-box;
        position: relative;
        &:hover {
            box-shadow: 0 0 0 1px #5fb878;
        }
    }
}

// ------------------------------------------- 选择器 -------------------------------------------
.zc-cp_color-selector {
    & > div {
        display: flex;
    }
    // 滑块
    .zc-cp_sliding {
        border: 1px solid #fff;
        position: absolute;
        top: 0;
        left: 100%;
        box-shadow: 0 0 2px #c2c2c2;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    // 圆形滑块
    .circle-sliding {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
    // 矩形滑块
    .rect-sliding {
        width: 6px;
        height: 100%;
        transform: translateX(-50%);
        background-color: #ffffff;
    }
}

// 色值
.zc-cp_color-value {
    position: relative;
}

// 色域
.zc-cp_color-gamut {
    position: relative;
    height: 6px;
}

// 透明度
.zc-cp_color-alpha {
    position: relative;
    height: 6px;
    background: $bg-img;
}

// 透明度的渐变条
.zc-cp_color-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #000000);
}

//
.zc-cp_form {
    padding: 0 5px;
}

// 交互按钮集合
.zc-cp_form-group {
    display: flex;
    align-items: center;
}

// 交互按钮
.zc-cp_block {
    display: inline-block;
    padding: 2px 5px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 5px;
    color: #666666;
    // border: 1px solid #c2c2c2;
    &.preview {
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 50%;
        position: relative;
        background: $bg-img;
        & > i {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            background-color: #ff0000;
        }
    }
    &.value {
        cursor: text;
        border: 1px solid #c2c2c2;
        flex-grow: 1;
    }
    &.schema {
        width: 40px;
    }
}

.btn-group {
    padding-top: 5px;
    justify-content: flex-end;
    .clear {
        color: #e6a23c;
    }
    .cancel {
        width: 40px;
        color: #999;
    }
    .done {
        width: 40px;
        // color: #000000;
    }
}
